PyQt6
PyMuPDF
python-docx
Pillow
pydub
moviepy
tqdm
pdf2docx
pyinstaller
requests
semver
pynput
qrcode[pil]
psutil
cryptography
openpyxl
pandas
numpy
matplotlib
seaborn
watchdog
pyperclip
python-barcode[images]